<div class='breadcrumbs grey-text'>
  {{#link-to 'dashboard.index'}}
    <i class='mdi-action-home'></i>
    Home
  {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{#link-to 'projects'}} Projects {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{#link-to 'projects.show' model.project}} {{model.project.name}} {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{model.name}}
</div>

<div class="row">
  <div class="col s12 m8 l9">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">{{model.name}}</span>
        <p>{{model.description}}</p>
      </div>
      <div class="card-action">
        {{#link-to 'projects.ideas.edit' model}}Edit{{/link-to}}
      </div>
    </div>

    <ul class='collection'>
      <li class='collection-item'>
        <h5>
        <i class='mdi-action-question-answer'></i>
        Comments
        </h5>
      </li>
      {{#each comment in model.comments}}
      <li class='collection-item avatar'>
        <i class='mdi-social-person circle grey lighten-2'></i>
        <span class="title">Title</span>
        <p>{{comment.comment}}</p>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="col s12 m4 l3">

    <div class="card">
      <div class="card-content">
        <h5 class="grey-text center-align text-darken-4">Rating</h5>
        <div class="row center-align">
          <div class='green-text score'>
            <h2>99.5</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h5 class="grey-text center-align text-darken-4">Actions</h5>
        <br/>
        <div class="row center-align">
          <div class='col s6'>
            <a class="btn-floating btn-large waves-effect waves-light light-blue"><i class="mdi-navigation-check"></i></a>
          </div>
          <div class='col s6'>
            <a class="btn-floating btn-large waves-effect waves-light pink lighten-2"><i class="mdi-action-bookmark"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h5 class="grey-text center-align text-darken-4">Influence</h5>
        <form ction="#">
          <p class="range-field">
            <div class='center-align'>
              <small class='grey-text'>Price</small>
            </div>
            <input type="range" id="test5" min="0" max="100" />
          </p>
          <p class="range-field">
            <div class='center-align'>
              <small class='grey-text'>Complexity</small>
            </div>
            <input type="range" id="test5" min="0" max="100" />
          </p>
          <p class="range-field">
            <div class='center-align'>
              <small class='grey-text'>Revenue</small>
            </div>
            <input type="range" id="test5" min="0" max="100" />
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
{{float-action project=model.project idea=idea}}
