{{#unless area.delete}}
<div class='row sub-container grey lighten-4'>
  <div class="heading input-field">
    {{input id=area.nameInputId name='area-name' value=area.name placeholder='E.g. Finance/Sales'}}
    <label class='active' for={{area.nameInputId}}>
      Area name
    </label>
  </div>
  {{#each activeFactors key='@index' as |factor|}}
  <div class="col l6 s12">
    <div class="card">
      <div class="card-form">

        <div class='row'>
          <div class="input-field">
            {{input id=factor.nameInputId name='name' value=factor.name placeholder='E.g. Complexity/Productivy Gains/Revenue'}}
            <label class='active' for={{factor.nameInputId}}>Influence factor title</label>
          </div>
        </div>

        <div class='row'>
          {{field/mdi-range title='Weighting' showValue=true value=factor.weight negative=factor.negative}}
        </div>

        <div class='row center-align'>
          {{field/mdi-switch offStateTitle='Positive' onStateTitle='Negative' value=factor.negative}}
        </div>

      </div>
      <div class="card-action">
        <a href='#' {{action 'destroyFactor' factor}}>
          <i class='mdi-action-delete'></i>
          Delete
        </a>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col l6 s12">
    <div class='card-form'>
      <div class='center-align'>
        <h4>This area is empty</h4>
        <button {{action 'destroyArea' area}} class='waves-effect waves-light btn text-white lighten-2'><i class='mdi-action-delete right'></i>Delete it</button>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="col l6 s12">
    <div class='card-form'>
      <div class='center-align'>
        <h4>Somethings still missing?</h4>
        <button {{action 'newFactor' area}} class='waves-effect waves-light btn text-white pink lighten-2'>Create new factor</button>
      </div>
    </div>
  </div>

</div>
{{/unless}}
