<form class="col s12 l8" {{action 'save' on='submit'}}>
  <div class="card">
    <div class="card-form">
      <span class="card-title grey-text text-darken-4">{{title}}</span>

      <div class="row">
        <div class="input-field col s12">
          {{input id='name' name='name' value=model.name}}
          <label {{bind-attr class="isNew::active"}} for="name">Project name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          {{textarea id='description' class="materialize-textarea" name='description' value=model.description}}
          <label {{bind-attr class="isNew::active"}} for="description">Description</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="date" name='expires_at' id='deadline' class='datepicker' value="{{moment model.expires_at 'YYYY/MM/DD'}}" />
          <label {{bind-attr class="isNew::active"}} for="deadline">Deadline</label>
        </div>
      </div>

    </div>
    <div class="card-action">
      {{#if model.id}}
        <button type='submit' class='btn default col s12 l2'>Save</button>
        <button {{action 'cancel'}} class='dark btn col s12 l2'>Close</button>
        {{#link-to 'project.factors' model class='btn info col s12 l4'}}
          Modify factors
        {{/link-to}}
      {{else}}
        <button type='submit' class='btn default col s12 l4'>Save and modify factors</button>
        <button {{action 'cancel'}} class='btn dark col s12 l2'>Close</button>
      {{/if}}
    </div>
  </div>
</form>
<div class='col s12 l4'>
  <div class="card-panel">
    <div class='card-form'>
      <div class='row'>
        <div class='input-field col s12'>
          {{#field/mdi-switch field=model.anonymity}}
            Anonymity
          {{/field/mdi-switch}}
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          {{#field/mdi-switch field=model.voting}}
            Enable voting
          {{/field/mdi-switch}}
        </div>
      </div>

    </div>
  </div>
</div>
{{yield}}
