<form class="col s12 l8" {{action 'save' on='submit'}}>
  <div class="card">
    <div class="card-form">
      <span class="card-title grey-text text-darken-4">{{title}}</span>

      <div class="row">
        <div class="input-field col s12">
          {{input id='name' name='name' placeholder='Enter the projects name' value=model.name}}
          <label class="active" for="name">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          {{field/redactor-editor inputId='description' placeholder='Add something witty.' value=model.description}}
          <label class="active" for="description">Description</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="date" name='end_at' id='deadline' class='datepicker' value="{{moment model.end_at 'YYYY/MM/DD'}}" />
          <label class="{{if isNew 'active'}}" for="deadline">Deadline</label>
        </div>
      </div>

    </div>

    <div class="card-action">
      {{#if model.id}}
        <button type='submit' class='btn default col s12 l2'>Save</button>
        <button {{action 'cancel'}} class='dark btn col s12 l2'>Close</button>
      {{else}}
        <button type='submit' class='btn default col s12 l4'>Save and modify factors</button>
        <button {{action 'cancel'}} class='btn dark col s12 l2'>Close</button>
      {{/if}}
    </div>

  </div>
</form>

<div class='col s12 l4'>
  <div class="card">
    <div class='card-content'>
      <h5 class="grey-text center-align text-darken-4">Settings</h5>

      <div class='row'>
        <div class='input-field col s12'>
          {{field/mdi-switch onStateTitle='Anonymity' value=model.anonymity}}
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          {{field/mdi-switch onStateTitle='Voting' value=model.voting}}
        </div>
      </div>

    </div>

    <div class="card-action">
      {{#if model.id}}
        {{#link-to 'project.factors' model class='btn info col s12'}}
          Modify factors
        {{/link-to}}
      {{/if}}
    </div>

  </div>
</div>
{{yield}}
