<div class='breadcrumbs grey-text'>
  {{#link-to 'dashboard'}}
    <i class='mdi-action-home'></i>
    Home
  {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{#link-to 'projects'}} Projects {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{#link-to 'project.show' model.idea.project}} {{model.idea.project.name}} {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{model.idea.name}}
</div>

<div class="row">
  <div class="col s12 m8 l9">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{model.idea.name}}</span>
        {{text-blob value=model.idea.description}}
      </div>
      <div class="card-action">
        {{#link-to 'idea.edit' model.idea}}Edit{{/link-to}}
      </div>
    </div>

    <ul class='collection'>
      <li class='collection-item'>
        <h5>
        <i class='mdi-action-question-answer'></i>
        Comments
        </h5>
      </li>
      {{#each model.idea.comments as |comment|}}
      <li class='collection-item avatar'>
        <i class='mdi-social-person circle grey lighten-2'></i>
        <span class="title">Title</span>
        {{text-blob value=comment.comment}}
      </li>
      {{/each}}
    </ul>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Add your two cents</span>
        {{textarea name='new-comment' class='materialize-textarea' placeholder='Type somthing'}}
        <small>Some info about commenting</small>
      </div>
      <div class="card-action">
        <a href='#' class='btn info' {{action 'submitComment'}}>
          <i class='mdi-action-question-answer left'></i>
          Add comment
        </a>
      </div>
    </div>

  </div>

  <div class="col s12 m4 l3">

    <div class="card">
      <div class="card-content">
        <h5 class="grey-text center-align text-darken-4">Rating</h5>
        <div class="row center-align">
          <div class='success-text score'>
            <h2>99.5</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h5 class="grey-text center-align text-darken-4">Actions</h5>
        <br/>
        <div class="row center-align">
          <div class='col s6'>
            <a class="btn-floating btn-large waves-effect waves-light success"><i class="mdi-navigation-check"></i></a>
          </div>
          <div class='col s6'>
            <a class="btn-floating btn-large waves-effect waves-light info"><i class="mdi-action-bookmark"></i></a>
          </div>
        </div>
      </div>
    </div>

    {{idea-influence ratings=model.idea.ratings areas=model.areas canEdit=true}}

  </div>
</div>
