<header>
  {{top-nav}}
  {{side-nav}}
</header>
<main>
  {{#if session.isAuthenticated}}
    <a {{ action 'invalidateSession' }}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
  <div class='container'>
    {{outlet}}
  </div>
</main>
