<div class='breadcrumbs grey-text'>
  {{#link-to 'dashboard.index'}}
  <i class='mdi-action-home'></i>
  Home
  {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{#link-to 'projects'}} Projects {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  {{#link-to 'project.show' model}} Projects {{/link-to}}
  <i class='mdi-navigation-chevron-right'></i>
  Factors
</div>

<div class="row">
  {{#each model.areas as |area|}}
  <div class="col l12">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">{{area.name}}</span>
        <ul class='collection'>
          {{#each area.factors as |factor|}}
            <li class='collection-item'>
              <div class='row'>
                <div class="input-field col l6">
                  {{input id=factor.nameInputId name='name' value=factor.name}}
                  <label class='active' for={{factor.nameInputId}}>Factor</label>
                </div>
                <div class="col l3">
                  {{input id=factor.negativeInputId type="checkbox" checked=factor.negative}}
                  <label class='active' for={{factor.negativeInputId}}>Negative?</label>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
        <div class="card-action">
          <button {{action 'newFactor' area}} class='waves-effect waves-light btn text-white pink lighten-2'>New Factor</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
